{% extends "main-template.html" %}

{% load static %}
{% block content %}
    <div class="post content-main" style="">
    <h1> Create new Group </h1>

        <form method="POST" action="{%url 'group:create'%}" style="display: flex;
        flex-direction: column;width: -webkit-fill-available;">
            {% csrf_token %}
            <span>title: </span>
            <input type="text" name="title" style="background-color: whitesmoke;"><br>
            <span>text: </span>
            <textarea name="text" style ="background-color: whitesmoke;min-height: 150px;"></textarea><br>

            <input type="Submit" value="Add" style="margin: auto; width: 200px; ">
        </form>
    </div>
{% endblock %}