{%extends "main-template.html"%}
{%load static%}
{%block content%}
    {%if groups%}
    <div class="content-dett">
        {%for group in groups %}
        <div class="post" style="max-height: 407px;">
            <div style="display: flex;">
                <div class="icon" style="background-image: url({%static 'images/user_image.jpg'%});"></div>
                <a  style="margin-left: 10px;" href={%url 'userdata' group.admin%}>{{group.admin}}</a><br>   
            </div>
            <h1>{{group.titlename}}</h1>
            <span class="description">{{group.textcontent}}</span>

        <a class="link-button" href={%url 'group:group' group.id%} ></a>
        </div>
        
        <div class="knifesm"></div>
        {%endfor%}

        {%else%}
        <span>no posts</span>
        {%endif%}
    </div>
{%endblock%}