{% extends 'chat/chats.html' %}
{% load static %}

{%block contentright%}blyat{%endblock%}
{% block message %}
<style type="text/css">
    .message-text-hey img{
        width: -webkit-fill-available;
    }
</style>
{% for message in messages %}
    {% if curr_user == message.sender_name %}
        <div class="left-message">
            <!-- <img src="{% static 'images/user_image.jpg' %}" alt="Avatar" class="right" style="width:100%;"> -->
            <p class="message-text-hey">{{message.description}}</p>
            <span class="time">{{message.time}}</span>
        </div>
    {% else %}
        <div class="right-message" >
            <!-- <img src="{% static 'images/user_image.jpg' %}" alt="Avatar" style="width:100%;"> -->
            <p class="message-text-hey">{{message.description}}</p>
            <span class="time">{{message.time}}</span>
        </div>
    {% endif %}
{% endfor %}
<script>
    function scrolltoend() {
        $('#board').stop().animate({
            scrollTop: $('#board')[0].scrollHeight
        }, 800);
    }

    $(function () { 
        setInterval(receive, 5000)
    })

    const text = '<div class="right-message">' +
                '<p class="message-text-hey">{description}</p>' +
                '<span class="time">{time}</span>' +
                '</div>'; 

    function receive(){
        $.get('/api/messages/' + sender_id + '/' + receiver_id, function(data){
            if(data.length !== 0){
                for(var i = 0; i < data.length; i++){
                    var field = text.replace('{description}', data[i].description);
                    var time = data[i].time.slice(0, 5) + ' a.m'
                    field = field.replace('{time}', time);
                    $('#board').append(field);
                    scrolltoend();
                    messageToLink(); 
                }
            }
        })
    }
</script>
<script type="text/javascript" src="{%static 'js/beauti-text.js'%}"></script>
{% endblock %}