{% extends "main-template.html" %}
{% load static %}

{% block content %}
    {%if post_list%}
    <div class="content-dett">
        {%for post in post_list%}
        <div class="post" style="max-height: 407px;">
            <div style="display: flex;">
                <div class="icon" style="background-image: url({%static 'images/user_image.jpg'%});"></div>
                <a  style="margin-left: 10px;" href={%url 'userdata' post.publisher%}>{{post.publisher}}</a><br>   
            </div>
            <h1>{{post.title}}</h1>
            <span class="description">{{post.text}}</span>

        <a class="link-button" href={%url 'news:data' post.id%} ></a>
        </div>
        
        <div class="knife"></div>
        {%endfor%}

        {%else%}
        <span>no posts</span>
        {%endif%}
    </div>
{% endblock%}
