{%extends "main-template.html"%}
{%block content%}
{% load static %}
<style type="text/css">
    h2{
        color: grey;
        padding: 30px;
    }
</style>
<div class="post content-dett" style="">
    <div style="display: flex;">
        <div class="icon" style="background-image: url({%static 'images/user_image.jpg'%});"></div>
        <h1><a  style="margin-left: 10px;" href={%url 'userdata' user %}>{{user}}</a></h1><br>


        {% if thisuser.is_authenticated %}
            {% if thisuser == user %}
                <div class="function-button-bg" style="margin-left: auto; margin-right: 10px">
                <a class="function-button" href="{%url 'delete' user%}">delete<a/>
                <a class="function-button" href="/logout">log out<a/>
                </div>
            {% endif%}
        {% endif %}   
    </div>
{%if posts%}
    <div id="post">
        <h2> - posts: </h2>
        {%for post in posts%}
                <div class="background-item" style="max-height: 200px;
            overflow: hidden;">
                    <h3>
                        <a href="{%url 'news:data' post.id%}">
                            {{post.title}}
                        </a>
                    </h3>
                    <span>{{post.text}}</span>
                    <div class="knife"></div>
                </div>
        {%endfor%}
    </div>
{%else%}
    <p>user not have posts...</p>
{%endif%}
<div class='knife'></div>

<div>
{%if frends%}
    <div id="frends">
        <h2> - frends: </h2>
        {%for frend in frends%}
            <div class="background-item">
                <a href="{%url 'userdata' frend.username%}">{{frend.username}}</a> <span>{{frend.email}}</span>
            </div>
        {%endfor%}
    </div>
{%else%}
    <p>user not have frends(...</p>
{%endif%}
<div class='knife'></div>
{%if groups%}
    <div>
        <h2> - groups: </h2>
        {%for group in groups%}
            <div class="background-item" style="max-height: 200px;
            overflow: hidden;">
                <h3><a href="{%url 'group:group' group.id%}">{{group.titlename}}</a></h3>
                <span>{{group.textcontent}}</span>
            </div>
        {%endfor%}
    </div>
    <div class='knife'></div>
{%endif%}
</div>
</div>
{%endblock%}